// colors
$orange:#f9b112;
$red:#d22713;
$purple:#4d3089;
$beige:#fffad3;
$brown:#603813;
$form:rgb(231, 231, 231);
$formFocus:rgb(194, 194, 194);
// font
$f-fam:'Poppins', sans-serif;
$f-regSize:12px;
$f-largeSize:30px;
$f-reg:400; 
$f-bold:600;